# config stuff
.env
config.json

# cache
__pycache__/

# data
export*.csv
data/
*.zip

# temporary stuff
prototype stuff/

main.ipynb

# model checkpoints
training_checkpoints/
checkpoint*/

# logs
*.log
log.txt
