# config stuff
.env
config.json
.vscode/

# cache
__pycache__/

# data
export*.csv
data/
*.zip
vocab/
*.bat
export/

# temporary stuff
prototype stuff/
*_test*
test.py
main.ipynb
test.ipynb
test*.txt
linetester.ipynb

# model checkpoints
training_checkpoints/
checkpoint*/
history/
cp*/

# logs
*.log
log.txt
tb_logs/
history*
