# config stuff
.env
config.json
.vscode/

# cache
__pycache__/

# data
export*.csv
data/
*.zip
vocab/

# temporary stuff
prototype stuff/
*_test*
main.ipynb

# model checkpoints
training_checkpoints/
checkpoint*/
history/

# logs
*.log
log.txt
